body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #eaecef;
  background: #F0F1F3;

}

header{
  padding: 30px;
  background: #183B59;
  height: 10px; 
}

.sidenav{
  width: 150px;
  background: #183B59;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  left: -100%;
  transition: all 1s;

}

.sidenav.active{
  left: 0;
}

ul{
  padding: 0;
}

ul li{
  list-style-type: none;
  margin: 10px;
}

ul li a{
  color: #eaecef;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li a:hover,
ul li a.active{
  background: #A7CFF2;
  color: #183B59;
}

.logo{
  width: 60px;

}

header svg{
  font-size: 40px;
}